node_modules/
*.log
.env
coverage/
*.tgz
.DS_Store
*.md5
*.sha256
src/node_modules/
src/coverage/
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
.idea/
.vscode/
*.swp
*~
.kube/config
